img {
    width: 200px;
    height: auto;
}
#top {
    color: red;
    font-size: 45px;
    font-family: 'Notable', sans-serif;
}
.messagebox {
    height: 200px;
    width: 300px;
    border: blue 3px solid
}